:root{
  --color-text:#030303;
  --ytd-searchbox-legacy-button-color: #f8f8f8;
  --ytd-searchbox-legacy-button-border-color: #d3d3d3;
  --yt-spec-badge-chip-background: rgba(0, 0, 0, 0.05);
  --ytd-mini-guide-width:120px;
  --yc-top-position-sticky:56px;
  --yc-main-content-background-color:#f9f9f9;
}

.ycNavigationContainer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height:56px;
  padding-left: 16px;
  padding-right: 16px;
  position:sticky;
  top:0px;
  z-index: 1;
  background-color: white;
}
.ycHamburderLogoCantainer{
  display: flex;
}

.ycLogoContainer{
  display:flex;
  justify-content: center;  
}

.ycLogoLink{  
  text-decoration: none !important;
  display: flex;
  justify-content: space-between;
}

.ycLogoContent{  
  justify-content: center;
  padding-left: 16px;
  padding-right: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  min-width: 90px !important;
  min-height: 20px !important;
}

.ycLogoImage{
  
}

.ycHamburgerIconContainer{
  padding: 8px;
  border: none;
  background: none;
}

.ycHamburgerMenu{
  font-size: 24px;
}

.ycLogoPartCountry{  
  margin-left:2px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;  
  color:var(--color-text);
  font-size: 10px;

  padding-top: 10px;
  
}

.ycSearchContainer{
  display:flex;
  justify-content: center;  
}

.ycSearchItem{
  
  height: 40px;
  padding-top: 1px;
  padding-bottom: 1px;
  
  margin-right: 5px;
  background-color: transparent;
}

#searchInput{
  border-radius: 0px !important;
  width: 409px;
  
  margin-right: 0px !important;
}

#ycBtnSearchTranslate{
  min-width: 36px;
  display: block;
  border: 1px solid var(--ytd-searchbox-legacy-button-border-color);
  background-position: 7px;
  background-image: url('/translate_icon.svg');
  background-size: 22px 36px;
  background-repeat: no-repeat;
  margin: 0px !important;
}

#ycBtnSearchTranslateArrowDown{
  min-width: 15px;
  display: block;
  border: 1px solid var(--ytd-searchbox-legacy-button-border-color);
  background-position: -3px;
  background-image: url('/arrow_down.svg');
  background-repeat: no-repeat;
  padding: 0px !important;
  margin-right: 0px !important;
}

#ycBtnSearchItemSubtitle{
  min-width: 36px;
  display: block;  
  margin-left:4px;
  margin-right:4px;
  border: 1px solid var(--ytd-searchbox-legacy-button-border-color);
  background-position: 7px;
  background-image: url('/search_by_subtitle.svg');
  background-size: 22px 36px;
  background-repeat: no-repeat;
}


#ycBtnSearchItemLegacy{
  min-width: 64px;
  border: 1px solid var(--ytd-searchbox-legacy-button-border-color);
  background-color: var(--ytd-searchbox-legacy-button-color);
}
#ycBtnSearchItemVoice{
  width: 40px;
  border-radius: 40px;
  border: 1px solid var(--ytd-searchbox-legacy-button-color);
  background-color: var(--ytd-searchbox-legacy-button-color);
}


.ycUserOptionsContainer{
  display:flex;
  justify-content: center;  
}



.ydUserOptionsIcon{
  font-size: 24px;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border: none !important;
  color: black !important;
}


#sidebarAndSectionsContainer{
  display: flex;
}

#sidebarAndSectionsContainer #sidebarLeft{
  display: flex;
  flex-direction: column;  
  position: sticky;
  
  top: var(--yc-top-position-sticky);
  z-index: 1;
  background-color: aquamarine;
}

.leftSidebarButton{
  font-size: 10px !important;
  text-decoration: none !important;
  width: 72px;
  height: 74px;
  border: none;
  background-color: white;
}

#categoriesContainer{
  border-top: 1px solid var(--ytd-searchbox-legacy-button-border-color);
  border-bottom: 1px solid var(--ytd-searchbox-legacy-button-border-color);  
  padding-top: 7px;
  padding-bottom: 7px;
  
  position: sticky;
  top: var(--yc-top-position-sticky);
  z-index: 1;
  background-color: white;
  

  display: flex;
  justify-content:center;
}
#categoriesContainer > div {
  
}
.ycCategory{
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 15px;
  border: 1px solid var(--ytd-searchbox-legacy-button-border-color);
  background-color: var(--yt-spec-badge-chip-background);  
  white-space: nowrap;  
}

#mainContainer{
  display: flex;
  background-color:var(--yc-main-content-background-color);
}
#mainContainerVideos{
  margin-top: 24px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ycCard{
  display:flex;
  flex-direction: column;
  border:none !important;  
  margin: 5px;
}

.ycCardVideoContent{
  width: 360px;
  height: 120px;
}

.ycCardVideo{
  width:100%;
  height:100%;  
}


.ycIconSearch{
  font-size: 12px;
}

main{
  display:flex;
  flex-direction: column;
  align-content: stretch;
}
