:root{
  --yc-main-primary-text-color:#030303;
  --ytd-searchbox-legacy-button-color: #f8f8f8;
  --ytd-searchbox-legacy-button-border-color: #d3d3d3;
  --yt-spec-badge-chip-background: rgba(0, 0, 0, 0.05);
  --ytd-mini-guide-width:120px;
  --yc-top-position-sticky:56px;
  --yc-main-content-background-color:hsl(0, 0%, 98%);
  --yc-main-secondary-text-color:#6c757d;
  --sidebar-compressed-size:72px;
  --sidebar-expanded-size: 216px;
}

.ycNavigationContainer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height:56px;
  padding-left: 16px;
  padding-right: 16px;
  position:sticky;
  top:0px;
  z-index: 1;
  background-color: white;  
}
.ycHamburderLogoCantainer{
  display: flex;
}

.ycLogoContainer{
  display:flex;
  justify-content: center;  
}

.ycLogoLink{  
  text-decoration: none !important;
  display: flex;
  justify-content: space-between;
}

.ycLogoContent{  
  justify-content: center;
  padding-left: 16px;
  padding-right: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  min-width: 90px !important;
  min-height: 20px !important;
}

.ycLogoImage{
  
}

.ycHamburgerIconContainer{
  padding: 8px;
  border: none;
  background: none;
}

.ycHamburgerMenu{
  font-size: 24px;
}


.ycLogoPartCountry{  
  margin-left:2px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;  
  color:var(--yc-main-primary-text-color);
  font-size: 10px;
  padding-top: 10px;  
}

.ycSearchContainer{
  display:flex;
  justify-content: center;  
}

.ycSearchItem{
  
  height: 40px;
  padding-top: 1px;
  padding-bottom: 1px;
  
  margin-right: 5px;
  background-color: transparent;
}

#searchInput{
  border-radius: 0px !important;
  min-width: 50px;
  
  margin-right: 0px !important;
}

#ycBtnSearchTranslate{
  min-width: 36px;
  display: block;
  border: 1px solid var(--ytd-searchbox-legacy-button-border-color);
  background-position: 7px;
  background-image: url('/translate_icon.svg');
  background-size: 22px 36px;
  background-repeat: no-repeat;
  margin: 0px !important;
}

#ycBtnSearchTranslateArrowDown{
  min-width: 15px;
  display: block;
  border: 1px solid var(--ytd-searchbox-legacy-button-border-color);
  background-position: -3px;
  background-image: url('/arrow_down.svg');
  background-repeat: no-repeat;
  padding: 0px !important;
  margin-right: 0px !important;
}

#ycBtnSearchItemSubtitle{
  min-width: 36px;
  display: block;  
  margin-left:4px;
  margin-right:4px;
  border: 1px solid var(--ytd-searchbox-legacy-button-border-color);
  background-position: 7px;
  background-image: url('/search_by_subtitle.svg');
  background-size: 22px 36px;
  background-repeat: no-repeat;
}


#ycBtnSearchItemLegacy{
  min-width: 64px;
  border: 1px solid var(--ytd-searchbox-legacy-button-border-color);
  background-color: var(--ytd-searchbox-legacy-button-color);
}
#ycBtnSearchItemVoice{
  width: 40px;
  border-radius: 40px;
  border: 1px solid var(--ytd-searchbox-legacy-button-color);
  background-color: var(--ytd-searchbox-legacy-button-color);
}

.ycIconSearch{
  font-size: 12px;
}


.ycUserOptionsContainer{
  display:flex;
  justify-content: center;  
}






.ycUserOptionsIcon{
  font-size: 24px;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border: none !important;
  color: black !important;
}




#categoriesContainer{  
  display: flex;  
  flex-direction: row;
  justify-content: center;
  top:var(--yc-top-position-sticky);
  position: sticky;
  
}

#categoriesContent{
  /* border-top: 1px solid var(--ytd-searchbox-legacy-button-border-color);
  border-bottom: 1px solid var(--ytd-searchbox-legacy-button-border-color);   */
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: white;  
  overflow: hidden;
  height: 67px !important;
}

#categoriesContent > div {
  
}
.ycBtnCategory{
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 15px;
  border: 1px solid var(--ytd-searchbox-legacy-button-border-color);
  background-color: var(--yt-spec-badge-chip-background);  
  cursor: pointer;
  float: left;
}

main{
  display:flex;
  flex-direction: column;
  align-content: stretch;
}
#mainContainer{
  display: flex;
  background-color:var(--yc-main-content-background-color);
}
#mainContainerVideos{
  margin-top: 24px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ycCard{
  display:flex;
  flex-direction: column;
  border:none !important;  
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 40px;
  width: 360px;
}

.ycCardVideoContent{
  
  height: 120px;
  
}

.ycCardVideo{
  width:100%;
  height:100%;  
  
}
.ycCardBody{
  overflow: hidden;
  padding-left: 24px;
}

.ycCardTitle{
  color: var(--yc-main-primary-text-color);
  text-overflow: ellipsis;
}

.ycVideoAuthor{
  color: var(--yc-main-secondary-text-color);
}

.ycCardVideoMetadataInline{
  font-family: "Roboto","Arial",sans-serif;  
  line-height: 2rem;
  font-weight: 400;
  max-height: 4rem;
  overflow: hidden;
  display: block;
  -webkit-line-clamp: 2;
  display: flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  white-space: normal;
  display: inline;
}

.ycCardVideoMetadataPubAgo::before{
  content: "•";
  font-size: 12px;
  color: var(--yc-main-secondary-text-color);
  margin: 0 4px;
}


/*********************************************/
@media only screen and (max-width:1200px){
  .ycCard{    
    width:344px;
  }
}
@media only screen and (max-width:992px){  
  .ycCard{    
    width:275px;
  }
}
@media (max-width:768px){
  .ycCard{    
    width:320px /*  × 167 */
  }  
}


@media only screen and (max-width:650px){
  #ycBtnSearchTranslate, #ycBtnSearchTranslateArrowDown, #ycBtnSearchItemSubtitle{
    display:none;
  }
}


@media only screen and (max-width:576px){
  .ycCard{    
    width:272px /* × 142 px */
  }
}
@media only screen and (max-width:512px){
  .ycCard{    
    width:180px /*  × 126 */
  }
}


@media only screen and (max-width:425px){
  .ycCard{
    width: 250px /* × 167 px */
  }
  #ycBtnSearchItemVoice, #searchInput, #userOptionNotifications{
    display: none;
  }
}
